@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #111111;
  --color-primary: #ffffff;
  --color-secondary: #888888;
  --color-accent: #333333;

  --font-sans: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-primary);
}

#root {
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}